
body{
  padding: 0;
  margin: 0;
  background-color:aliceblue;
}
.navbar{
    background-color: rgb(172, 214, 172); 
  height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
}
.navbar-icon{
    height: 60px;
}
.navbar-brand-name1{
    text-align: center;
    font-size: 50px;
    color:rgb(14, 134, 14);
    font-weight: bold;
   margin-left: 3px;
}.navbar-brand-name2{
    font-size: 50px;
    color:black;
    font-weight: bold;
   margin-right: 200px;
}
.navbar-menu-cobtainer{
    margin-left: 400px;
}
.navbar-menu{
font-size: 20px;
padding: 10px 20px;
font-weight: bold;
margin-left: 20px;
cursor: pointer;
background-color: black;  
border-radius: 20px;
color: white;
}
.navbar-menu:hover{
    background-color: rgb(5, 92, 5);
}
.navbar-menu-cobtainer a{
text-decoration: none;
cursor: pointer;
}

.navbar-menu-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}



  .img2{
    width:200px;
     height:450px;
     border-radius:0px;
     border: 2px solid green;
     display: inline-block;
     padding: 0px;
     margin: 20px;
  }
  .header-c{
    display: flex;
    align-items: center;
  }
  .h1{
    text-align: center;
    color: rgb(4, 97, 38);
    font-size: xx-large;
    padding: auto;
    margin: 30px;
  
  }
  .descrption{
    text-align: center;
    color: rgb(178, 21, 21);
    font-size:large
   
  }
  .button{
    font-size: 10px;
  padding: 3px 10px;
  font-weight: bold;
  margin-left: 300px;
  cursor: pointer;
  background-color: rgb(53, 123, 53);
  border-radius: 10px;
  color: black;
  color: white;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #108826  50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color:  white;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .btn{
      size:30px;
      color: #60eb79;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #7deb7d ;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  .head{
    height: 70px;
    width: 1280px;
    background-color: #108826;
    text-align: center;
  }
  .bottom{
    margin-bottom: 150px;
  
  }
  .section-heading{
    color: red;
  }
  .sec{
    color: #1f194c;
  }
  .card1{
    margin-bottom: 100px;
  }
  .table{
    margin-top: 40px;
    margin-left: 40px;
  }
  .row1{
    margin-bottom: 100px;
  }

  .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: auto;
    background-color: black;
    height: 400px;
}
.footer-heading{
    padding-top: 200px;
    color: white;
    font-size: 50px;
}
.footer-link{
    padding-top: 150px;
    color: white;
}
.footer-contact{
    padding-top: 150px;
    color: white;
}
.img-smi{
    padding-top: 170px; 
}
.q-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.footer-email{
    font-size: 20px;
}
.footer-no{
    font-size: 20px;
}
.style1 {color: #FFFFFF}