body.
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
 
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.navbar{
    background-color: rgb(172, 214, 172); 
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 11px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
}
.navbar-icon{
    height: 50px;
}
.navbar-brand-name1{
    text-align: center;
    font-size: 50px;
    color:rgb(14, 134, 14);
    font-weight: bold;
   margin-left: 3px;
}
.navbar-brand-name2{
    font-size: 50px;
    color:black;
    font-weight: bold;
   margin-right: 200px;
}
.navbar-menu-cobtainer{
    margin-left: 400px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 400px;
}
.navbar-menu{
font-size: 20px;
padding: 10px 20px;
padding-top: 10px;
font-weight: bold;
margin-left: 20px;
cursor: pointer;
background-color: black;  
border-radius: 20px;
color: white;
}
.navbar-menu:hover{
    background-color: rgb(5, 92, 5);
}
.navbar-menu-cobtainer a{
text-decoration: none;
cursor: pointer;
}

.navbar-menu-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
 
.logo {
    font-size: 2px;
}
 
nav {
    width: 30px;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
 
nav ul li a {
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
 
nav ul li a:hover {
    background-color: rgb(172, 214, 172); ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reachUs-button {
    padding: 1rem;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.reachUs-button:hover{
    background-color: #1ac840;
}
.banner {
    text-align: center;
    background-color: rgb(196, 237, 219);
    margin: bottom;
    border-radius: 10px;
}
 
.banner img {
    max-width: 100%;
    height: auto;
    border-radius: 15px ;
    margin-top: 200px;
}

.contact-form {
    padding: 40px 0;
    margin: 0 10px;
    background-color: rgb(196, 237, 219);
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 200px;
}
 
.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color:skyblue;
}
 
.contact-info h2 {
    margin-bottom: 20px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}
 
@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
 
    .hamburger {
        display: flex;
    }
 
    #nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }
 
    #nav-menu.active {
        display: block;
        flex-direction: row;
        padding: 1rem;
    }
    .submit-button{
        display: block;
        margin-left: 40px;
    }
    .navbar-brand-name2{
        display: block;
        margin: 40px;
    }
    
    .navbar-brand-name1{
        display: block;
        
        margin-bottom: 20px;
    }
    .navbar-icon{
        display: block;
        margin: 50px;
    }
    .navbar-menu-cobtainer{
        display: block;
        margin: 40px;
        flex-direction: row;
        margin-bottom: 400px;
    }    
    .img-smi{
        display: block;
        margin-left: 50px;
        margin-bottom: 1000px;
    }
}