
        body{
            background-color:#475d51;
        }
        .user-name{
            color:black;

        }
        .title{
            color: tomato;
            text-align: center;
            font-size: 50px;
            border-bottom: 5px solid black;
            
        }
        .main-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
        .users-card{
        background-color:white;
        width:250px;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        flex-wrap: wrap;
        box-shadow: 10px 8px 5px gray;

        }
        
           
        
        .user-profile-picture{
        

    
        display: block;
        border-radius: 50%;
        margin:5px auto;
        }
        .icon-star{
         height:50px;
        position: absolute;
        top:15px;
        right: 15px;
        padding: 5px;
        border-radius: 50%;
        }
        .btn{
            
            background-color:wheat;
            font-style: normal;
            width: 80px;
            height: 50px;
            border: 2px solid;
            border-radius: 30px;
            
            
        }
        .id{
            color: grey;
        }
        .user{
            border-radius: 50%;
            width: 150px;
            margin: 8px auto;

        }
        .contact-info{
            text-align: start;
            height: 200px;
            
            background-color: lightpink;
        }
        .container{
            height: 500px;
            background-color: black;
            display: flex;
            flex:1;
            flex-wrap: wrap;
            
        }
        .img{
            width: 150px;
            position: relative;
            padding: 20px;
            border-radius: 40%;
        }
        .about-w{
            display: inline;
            margin-left:100px;
            text-align: start;
            height: 200px;
            width: 150px;
            color: white;
        }
        .heading{
            color: aliceblue;
        }
       .container-image{
        width: 150px;
        border-radius: 40%;
       }
       .contact{
        display: inline;
        margin-left:100px;
        text-align: start;
        height: 200px;
        width: 150px;
        color: white;

       }
        

        

        
