body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #090921;
    
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}
.navbar{
    
    background-color: rgb(207, 232, 207); 
    height: 50px;
    padding: 11px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin:0px;
         
    }
    .navbar-icon{
    height: 50px;
    }
    .navbar-brand-name1{
    text-align: center;
    font-size: 50px;
    color: rgb(3, 142, 3);
    font-weight: bold;
    margin-left: 3px;
    }.navbar-brand-name2{
    font-size: 50px;
    color:black;
    font-weight: bold;
    margin-right: 200px;
    }
    .navbar-menu{
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
    margin-left: 15px;
    cursor: pointer;
    background-color: rgb(53, 123, 53);
    border-radius: 20px;
    color: black;
    color: white;
    }
    .navbar-menu-cobtainer a{
    text-decoration: none;
    cursor: pointer;
    }
    .navbar-menu:hover{
    background-color:rgb(173, 217, 106);
    box-shadow:0px 0px 5px 2px #fff;
    padding: 7px 25px;
    transition: 0.6s;
    }
    .navbar-menu-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: auto;
        background-color: black;
        height: 250px;
        width:1500px;
    }
    .footer-heading{
        padding-top: 20px;
        color: white;
        font-size: 50px;
    }
    .footer-link{
        padding-top: 20px;
        color: white;
    }
    .footer-contact{
        padding-top: 20px;
        color: white;
    }
    .img-smi{
        padding-top: 30px; 
    }
    .q-link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-left: 10px;
    }
    .footer-email{
        font-size: 20px;
    }
    .footer-no{
        font-size: 20px;
    }
    




@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}
.img1{
    width:150px;
}


@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}