body{
    padding: 0;
    margin: 0;
    background-color:aliceblue;
}
.navbar{
    background-color: rgb(172, 214, 172); 
  height: 50px;
    padding: 11px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
}
.navbar-icon{
    height: 50px;
}
.navbar-brand-name1{
    text-align: center;
    font-size: 50px;
    color:rgb(14, 134, 14);
    font-weight: bold;
   margin-left: 3px;
}.navbar-brand-name2{
    font-size: 50px;
    color:black;
    font-weight: bold;
   margin-right: 200px;
}
.navbar-menu-cobtainer{
    margin-left: 400px;
}
.navbar-menu{
font-size: 20px;
padding: 10px 20px;
font-weight: bold;
margin-left: 20px;
cursor: pointer;
background-color: black;  
border-radius: 20px;
color: white;
}
.navbar-menu:hover{
    background-color: rgb(5, 92, 5);
}
.navbar-menu-cobtainer a{
text-decoration: none;
cursor: pointer;
}

.navbar-menu-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.header-container{
    display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.background-img{
    width:1517px;
    height: 635px;
    margin-top: 2px;

}

.header-title{
    margin-top: -600px;
    margin-left: 150px;
    font-size: 70px;
    font-weight: bold;
    animation: textWave 3s infinite;

}

.shop1{
    margin-left: -450px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

a{
    text-decoration: none;
}
.shop-container{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
   
}
.Shop-items{
    border-radius: 15px;
    border: 2px solid rgb(56, 55, 55);
    height: 300px;
    padding: 20px;
    width: 300px;  
    /* margin-top: 40px;   */
    background-color: rgb(196, 237, 219);
    box-shadow: 0 0 0 0.5px gray;
    margin-bottom: 40px;
}
.shop-menu{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 30px;
}
.shop-img1{
    height: 250px;
    display: block;
    margin-left: 10px;
}
.shop-img2{
    height: 250px;
    display: block;
    margin-left: 20px;
}
.shop-img3{
    height: 250px;
    display: block;
    margin-left: 10px;
}

@media screen and (min-width :500px) and (max-width: 768px){
    .navbar-menu-cobtainer{
        margin-left: 400px;
    }
    .navbar-menu{ 
        padding: 5px 5px;
        margin-left: 10px;
        width: 200px;
}
.navbar-menu-list{
   min-width: 160px;
}
.background-img{
    width:600px;
    height: 635px;
    margin-top: 2px;
}
.header-title{
    margin-top: -600px;
    margin-left: 150px;
    font-size: 70px;
    width: 10px;
    
}
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: auto;
    background-color: black;
    height: 400px;
}
.footer-heading{
    padding-top: 200px;
    color: white;
    font-size: 50px;
}
.footer-link{
    padding-top: 150px;
    color: white;
}
.footer-contact{
    padding-top: 150px;
    color: white;
}
.img-smi{
    padding-top: 170px; 
}
.q-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.footer-email{
    font-size: 20px;
}
.footer-no{
    font-size: 20px;
}